& {
  .details > h1 {
    color: #e91c50;
  }

  img {
    max-width: 30rem;
    max-height: 30rem;
  }
  .details{
    display: flex;
  }
  .description {
    flex: 1 1 auto;
    margin-top: 0;
  }
  .rating {
    flex: 0 0 auto;
  }
}