{{input value=title placeholder='Title..' required=true class='form-title'}}

{{input value=description placeholder='Description..' required=true class='form-description'}}

{{input value=image placeholder='Image url..' required=true class='form-image-url'}}

{{star-rating value=rating readonly=false rating=rating}}

<button class="addMovie" type="submit">Add Movie</button>